
<div class="banner-about">
  <div class="container">
    <h2>postApp</h2>
    <p>
      is a social networking service.
      People can post and interact.
    </p>
  </div>
</div>
  <div class="container-explanation">
       <p>
      postApp was created using:
    </p>
    <div class="contents">
      <div class="tool">
        <div class="tool-icon">
          <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1666710732/rails_tz6hgb.png" alt="rails">
        </div>
      </div>
      <div class="tool">
        <div class="tool-icon">
          <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1666644476/1200px-Sass_Logo_Color.svg_hucbk3.png" alt="sass">
        </div>
      </div>
      <div class="tool">
        <div class="tool-icon">
          <img src="https://res.cloudinary.com/deavmhgtx/image/upload/v1666645646/css_l5qckv.png" alt="css">
        </div>
      </div>
    </div>
  </div>
