<div class="about-main">
  <h2>About postApp</h2>
  <p>
  postApp is a social networking service.
  People can post and interact.
  </p>
  <img src="https://images.unsplash.com/photo-1591115765373-5207764f72e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="about us ">
</div>
