
<div class="banner-about">
  <div class="container">
    <h2>postApp</h2>
    <p>
      is a social networking service.
      People can post and interact.
    </p>
  </div>
</div>
  <div class="container-explanation">

    <div class="contents">
    <p>
      postApp was created using rails , css , html , some javascript , scss.
    </p>
      <div class="rails"></div>
      <div class="css"></div>
      <div class="hmtl"></div>
      <div class="scss"></div>
    </div>
  </div>
