
  <div class="header">
    <div class="logo">
    <a href='/'>postApp</a>
    </div>
    <div class="about">
      <a href='about'>about</a>
    </div>

<div class="titles">
  <h2 class="Main-title">
<br>
Connect with the world
</h2>

<h1 class="subtitle">Share the best moments!</h1>
</div>



  </div>
