
<div class="posts-show-item">
  <%= @post.content %>
  <div class="post-time">
    <%= @post.created_at %>
    <div class="edit">
    <%=link_to('Edit' ,'/posts/#{@post.id}/edit' )%>
    </div>
  </div>

</div>
