.text-about-title{
  font-size: 60px;
}
.text-about{
  margin: 40px;
}

.contents{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;

}

.tool{
  padding-right: 40px;
}
.tool-icon{
  padding-top: 40px;
}
  img{
    height:auto;
    width:auto;
    max-height: 300px;
    max-height: 200px;
    float : 0;
    background: white;
    border-radius: 4px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    margin: auto;
  }
