// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//globales
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

html{
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
}
body{

}

body{
  background-size: cover

}



.logo a {
  list-style: none;
  float:left;
  font-size:40px;
  padding-left: 5px;
  text-decoration: none;
  color:rgb(104, 99, 145)
}


 .about a{
  list-style: none;
  float: right;
  font-size: 30px;
  text-decoration: none;
  color:rgb(104, 99, 145)
}

h2.Main-title{
  margin-bottom : 10px;
  font-size:80px;
  text-align:center;
  color: rgb(104, 99, 145)

}

.subtitle {
  text-align:center;
  color: rgb(104, 99, 145)
}
