// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.post-index-class{
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 500px;
  margin: auto;
  margin-bottom: 20px;
}

.posts-show-item{
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 600px;
  margin: auto;
  margin-bottom: 20px;
  font-style: italic;
  font-weight: bold;
}

.post-time{
  padding-top: 20px;
  float: right;
  font-size: 12px;
  font-weight: bold;
}

/* posts/new ================================ */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
  height:190px;
  width:499px;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}
